.Container {
  border-bottom: 2px solid rgba(128, 128, 128, 0.1);
}

.Body {
  margin: min(1rem, 2vw) min(1.5rem, 5vw);
}

.Header,
.Content,
.Footer {
  margin-block: 1.5rem;
}

.Header,
.Footer,
.PostedBy,
.PostTimingAndViews {
  display: flex;
  align-items: center;
}

.Header,
.Footer {
  justify-content: space-between;
}

.Header > span > svg {
  padding: 4px;
  font-size: 1.25em;
}

.Title {
  margin-right: 2rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.ContentText {
  color: var(--primary-color);
  line-height: 1.5em;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.Like {
  font-size: 1.25em;
}

.Footer {
  color: var(--primary-color);
  flex-wrap: wrap;
}

.PostedBy {
  margin-right: 1rem;
  font-weight: bold;
  gap: 0.5em;
}

.PostType {
  color: #00c1d4;
}

.Gap {
  margin: 0.5em;
  border: 0.125em solid rgb(128, 128, 128);
  border-radius: 50%;
}

@media (max-height: 600px) {
  .ContentText {
    -webkit-line-clamp: 3;
  }
  .Footer {
    font-size: 0.75em;
  }
}

@media (max-width: 600px) {
  .ContentText {
    -webkit-line-clamp: 3;
  }
  .Footer {
    font-size: 0.5em;
  }
}
