.app {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ICONS */
.Stars,
.Likes,
.Views,
.Hearts,
.Diamond,
.Verified {
  padding: 2px;
  border-radius: 50%;
  color: white;
}

.Stars {
  background-color: #9fced5;
}

.Likes {
  background-color: var(--secondary-color);
}
.Views {
  background-color: grey;
}
.Hearts {
  background-color: #bb2d5b;
}

.Diamond {
  background-color: #3e3c6c;
  font-size: 1.25em;
}

.Verified {
  background-color: #65eba1;
  color: black;
  font-size: 1.25em;
}
