@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #808080;
  --secondary-color: #ffc23e;
}

body {
  font-family: "Roboto";
  font-size: min(5vw, 1.25rem);
}

h1 {
  font-size: min(5vw, 1.25rem);
}

a {
  display: inline-block;
  max-width: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-decoration: none;
  color: #64c5d9;
}

button {
  padding: 0.7em;
  background-color: var(--secondary-color);
  font-weight: bold;
  border-radius: 0.5rem;
  border: none;
  cursor: pointer;
}
